name: Question 6 Workflow

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: '23f1002864@ds.study.iitm.ac.in'
        id: '23f1002864@ds.study.iitm.ac.in'
        run: echo "Hello, world!"

